$breadcrumb-divider: quote(">");

.breadcrumb-item+.breadcrumb-item::before {
  content: $breadcrumb-divider;
}

.breadcrumb {
  background-color: transparent;
  padding: $padding-2 0;
  margin: 0;
  font-size: 0.875rem;
  color: $grey;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: $grey;
}