/**
* Colors
**/
$yellow: #FFE600;
$black: #333333;
$grey: #999999;
$lightGrey: #eeeeee;
$white:#ffffff;
$blue: #3483FA;
$blue-dark: #2968c8;

/**
* Fonts size
**/
$info-small-size: 12px;
$info-size: 14px;
$size: 16px;
$medium-size: 18px;
$large-size: 24px;
$xlarge-size: 28px;
$jumbo-size: 46px;

/**
* Fonts weight
**/
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 600;


/**
* Padding
**/
$padding-1: 10px;
$padding-2: 16px;
$padding-3: 20px;
$padding-4: 32px;


/**
* Borders
**/
$rounded: 4px;

/**
* Breakpoints
**/
$xsmall-width: 600px;
$small-width: 768px;
$medium-width: 992px;
$large-width: 1024px;
$xlarge-width: 1200px;
$xxlarge-width: 1600px;