/**
* Colors
**/
$yellow: #FFE600;
$black: #333333;
$grey: #999999;
$lightGrey: #eeeeee;
$white:#ffffff;
$blue: #3483FA;

/**
* Fonts
**/
$info-small-size: 12px;
$info-size: 14px;
$normal-size: 16px;
$medium-size: 18px;
$large-size: 24px;
$xlarge-size: 28px;
$jumbo-size: 46px;


/**
* Padding
**/
$padding-sm: 16px;
$padding-md: 20px;
$padding-lg: 32px;

/**
* Breakpoints
**/
$xsmall-width: 600px;
$small-width: 768px;
$medium-width: 992px;
$large-width: 1024px;
$xlarge-width: 1200px;
$xxlarge-width: 1600px;